**/*.a
**/*.o
**/.next
**/CMakeCache.txt
**/node_modules
.git
examples
node_modules
packages/**/fun
packages/**/fun-profile
src/fun.js/WebKit
src/fun.js/WebKit/LayoutTests
zig-build
.zig-cache
zig-out
build
vendor
node_modules
*.trace

packages/fun-uws/fuzzing