#include "windows.h"

IDI_MYICON ICON "@FUN_ICO_PATH@"

VS_VERSION_INFO VERSIONINFO
FILEVERSION @Fun_VERSION_MAJOR@,@Fun_VERSION_MINOR@,@Fun_VERSION_PATCH@,0
PRODUCTVERSION @Fun_VERSION_MAJOR@,@Fun_VERSION_MINOR@,@Fun_VERSION_PATCH@,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Fun\0"
            VALUE "FileVersion", "@Fun_VERSION_WITH_TAG@\0"
            VALUE "InternalName", "fun\0"
            VALUE "OriginalFilename", "fun.exe\0"
            VALUE "ProductName", "Fun\0"
            VALUE "ProductVersion", "@Fun_VERSION_WITH_TAG@\0"
            VALUE "CompanyName", "Oven\0"
            VALUE "LegalCopyright", "https://fun.dev/docs/project/licensing\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END